# Xcode
DerivedData/
build/
*.xcworkspace
!default.xcworkspace
*.xcuserdata
*.xcuserstate

# Swift Package Manager
/.build/
/Packages/
/Package.resolved

# CocoaPods
/Pods/

# Carthage
/Carthage/

# Fastlane
/fastlane/report.xml
/fastlane/screenshots/**/*.png
/fastlane/test_output

# Misc
*.log
*.DS_Store
.idea/
.vscode/

